<!-- Падащо меню, свързано е с учител
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navigation.component.css">
    <title>Навигация</title>
</head>

<body>
    <div class="container">
        <header>

        </header>
        <div class="dropdown">
            <button>Menu</button>
            <div class="dropdown-content">
                <a href="index-teacher.html">Начало</a>
                <a href="grades.html">Оценки</a>
                <a href="calendar.html">Каледар</a>
                <a href="teacher.html">Виж своя профил</a>
            </div>
        </div>
    </div>
    <main>

    </main>

</body>

</html> -->