<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.css">
    <title>Онлайн Дневник</title>
    <style>
     
    </style>
</head>
<body>

<div class="welcome-container">
    <div class="welcome-text">Добре дошли</div>
    <div class="button-container">
        <a href="registration.html" class="button">Регистрация</a>
        <a href="login.html" class="button">Логин</a>
    </div>
</div>

</body>
</html>
