body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('wecome.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.welcome-container {
    text-align: center;
    margin-bottom: 20px;
}

.welcome-text {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}