<div class="welcome-container">
    <div class="welcome-text">Добре дошли</div>
    <img src="https://scontent.fsof10-1.fna.fbcdn.net/v/t1.15752-9/416821759_1835362740249322_1964918300668289634_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8cd0a2&_nc_ohc=CC6hXuBPw40AX-DngcX&_nc_ht=scontent.fsof10-1.fna&oh=03_AdT1UZslBAXFV11f-4Sp0_V2MajdWKwowv3IFPlCszAEUQ&oe=65C3AEC5" alt="Welcome" class="welcome-img">


    <div class="button-container" *ngIf = "!isLoggedIn()">
        <a routerLink = "/register" class="button">Регистрация</a>
        <a routerLink = "/login" class="button">Вход</a>
    </div>
</div>





