<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admin-teacher.component.css">
</head>
<body>
    <h2>Създаване на акаунт</h2>
    <form #signupForm>
        <label for="firstName">Име:</label>
        <input type="text" id="firstName" name="firstName" #firstName required>

        <label for="lastName">Фамилия:</label>
        <input type="text" id="lastName" name="lastName" #lastName required>

        <label for="email">Имейл:</label>
        <input type="email" id="email" name="email" #email required>

       
        <label for="password">Парола:</label>
        <input type="password" id="password" name="password" #password required>


        <label for="role" >Роля:</label>
        <select id="role" name="role" #role required>
            <option value="Teacher">Учител</option>
            <option value="Grade teacher">Класен ръководител</option>
        </select>

        <button type="button" mat-raised-button color="primary" (click) = "createAccount(firstName.value, lastName.value, email.value, password.value, role.value)">Създай акаунт</button>
    </form>

    <script src="admin-acc.js"></script>
</body>
</html>