<div class="container">
    <header class="header">
        <h1>Онлайн Дневник</h1>


        <nav class="navbar">
            <a routerLink="/home">Начало</a>


            <div *ngIf="!isLoggedIn()">
                <a routerLink="/login">Вход</a>
                <a routerLink="/register">Регистрация</a>
            </div>

                <div *ngIf="isLoggedIn()">
                    <a routerLink="/grades">Оценки</a>
                    <a routerLink="/absence">Отсъствия</a>
                    <a routerLink="/note">Забележки</a>
                    <a routerLink="/calendar">Календар</a>
                    <a routerLink="/chat">Чат</a>
                    <a routerLink="/group-chat">Групов чат</a>
                    <a routerLink="/student-profile">Профил на ученик</a>
                    <a routerLink="/admin-students" *ngIf="userType() === 'Admin'">Администраторски панел</a>
                    <a (click) = "logout()">Изход</a>
                </div>


        </nav>

    </header>
    <footer>
    </footer>
</div>

<!-- <nav class="navbar">
    <a href="#">Начало</a>
    <a href="absence.html">Отсъствия</a>
    <a href="grades.html">Оценки</a>
    <a href="calendar.html">Каледар</a>
    <a href="teacher.html">Профил на учителя</a>
    <li><a href="#">Обратна връзка</a></li>
</nav> -->