<!-- За ученик -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.component.css">
    <title>Онлайн дневник</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <h1>Онлайн Дневник</h1>


            <nav class="navbar">
                <a routerLink="/home">Начало</a>

                <div *ngIf="isLoggedIn()">
                    <a routerLink="/calendar">Календар</a>
                    <a routerLink="/grades">Оценки</a>
                    <a routerLink="/chat">Чат</a>
                    <a routerLink="/student-profile">Профил на ученик</a>
                    <a (click) = "logout()">Изход</a>
                </div>


                <div *ngIf="!isLoggedIn()">
                    <a routerLink="/login">Вход</a>
                    <a routerLink="/register">Регистрация</a>
                </div>

            </nav>


        </header>
        <footer>
        </footer>
    </div>
</body>

<!-- За учител
</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.component.css">
    <title>Онлайн дневник</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <h1>Онлайн Дневник</h1>
            <nav class="navbar">
                <a href="#">Начало</a>
                <a href="absence.html">Отсъствия</a>
                <a href="grades.html">Оценки</a>
                <a href="calendar.html">Каледар</a>
                <a href="teacher.html">Профил на учителя</a>
                <li><a href="#">Обратна връзка</a></li>
            </nav>
        </header>

        <!-- Останалата част от вашия контент тук -->


<!-- </div>
</body>

</html> --> -->