<div class="container">
    <header class="header">
        <h1 style="font-size: 28px;">Онлайн Дневник</h1>


        <nav class="navbar">
            <a routerLink="/home">Начало</a>


            <div *ngIf="!isLoggedIn()">
                <a routerLink="/login">Вход</a>
                <a routerLink="/register">Регистрация</a>
            </div>

            <div *ngIf="isLoggedIn()">

                <div *ngIf = "userType() !== 'Admin'">
                    <a routerLink="/grades">Оценки</a>
                    <a routerLink="/absence">Отсъствия</a>
                    <a routerLink="/note">Забележки</a>
                    <a routerLink="/calendar">Календар</a>
                    <a routerLink="/chat">Чат</a>
                    <a routerLink="/group-chat">Групов чат</a>
                    <a routerLink="/forum">Форум</a>
                    <a routerLink="/details">Профил</a>
                </div>

                <!-- <a routerLink="/student-profile" *ngIf="userType() === 'Student'">Профил на ученик</a> -->

                <div *ngIf = "userType() === 'Admin'">
                    <a routerLink="/admin-subjects">Предмети</a>
                    <a routerLink="/admin-panel">Учители и класове</a>
                    <a routerLink="/admin-students">Ученици и класове</a>
                    <a routerLink="/admin-teachers">Учители и класни ръководители</a>
                    <a routerLink="/calendar">Календар</a>
                    <a routerLink="/chat">Видеочат</a>
                    <a routerLink="/group-chat">Групов чат</a>
                    <a routerLink="/forum">Форум</a>
                    <a routerLink="/details">Профил</a>

                </div>


                <a (click)="logout()">Изход</a>
            </div>


        </nav>

    </header>
    <footer>
    </footer>
</div>
