.login-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

table {
    width: 50%;
}

table {
    border: 2px solid #CCC;
    border-collapse: collapse;
}

table thead th {
    background: #DDD;
}

table, th, td {
    border: 1px solid #CCC;
}

th, td {
    padding: 0.5em 0.7em;
}

table tbody tr:nth-child(even) {
    background: #CCC;
}







form {
    display: flex;
    flex-direction: column;
}

label,
input {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}