<mat-card class="post-card">

    <mat-card-header class="card-header">
        <mat-card-title class="card-header-title">{{title}}</mat-card-title>
        <mat-card-subtitle class="post-subtitle">{{subtitle}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="card-content">

        <div class="main">

            <mat-card-actions class="buttons">
                <a href="#" class="backBtn" routerLink="/forum">Назад</a>
            </mat-card-actions>


            <div class="description">
                <p>{{description}}</p>
            </div>

        </div>



        <div class="media">
            <img src="{{imageUrl}}" class="card-image" mat-card-sm-image>
        </div>


    </mat-card-content>



    <div class="comment-section">



        <div class="add-comment">

            <form class="comment-section">

                <mat-form-field>
                    <mat-label>Коментар</mat-label>
                    <textarea matInput #desc name="desc" ngModel required></textarea>

                </mat-form-field>

                <a (click)="addComment($event)" href="#" class="commentBtn">Добави коментар</a>

            </form>

        </div>

    </div>

</mat-card>


<div class="comments">

    <app-current-comment *ngFor="let comment of commentData" [text]="comment.text"></app-current-comment>
    <!-- <app-current-comment></app-current-comment>
    <app-current-comment></app-current-comment>
    <app-current-comment></app-current-comment> -->


</div>