.title{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}

.grade mat-form-field + mat-form-field{
    margin-left: 8px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #333;
}

.button-add-row,
.button-excuse{
    margin-top: 20px;
    float: right;
}

.form-options{
    display: flex;
}

.subject{
    margin-right: 10px;
}

.highlight{
    background: #ccc;
}

.formActions{
    justify-content: right;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 30px 20px 30px;
  }

input[type="file"] {
    display: none;
}
.file-upload {
    margin-top: 5px;
    cursor: pointer;
    width: fit-content;
    padding: 6px 10px;
    border: 1px solid #ccc;
}

.file-upload:hover{
    background-color: #ccc;
}

.file-upload-label{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
}







