<div class="teacherview" *ngIf="userType() === 'Teacher' || userType() === 'Grade teacher'">
    <h1 class="title">Отсъствия</h1>

    <div class="gradesSelect">
        <mat-form-field>
            <mat-label>Избери клас:</mat-label>
            <mat-select [(ngModel)]="gradeSelect" (selectionChange)="applyFilter()">
                <mat-option *ngFor="let el of grades" [value]="el">
                    {{ el }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Избери паралелка:</mat-label>
            <mat-select [(ngModel)]="gradeDivisionSelect" (selectionChange)="applyFilter()">
                <mat-option *ngFor="let el of gradeDivisions" [value]="el">
                    {{ el }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Избери срок:</mat-label>
            <mat-select [(ngModel)]="yearTermsSelect" (selectionChange)="applyFilter()">
                <mat-option *ngFor="let el of yearTerms" [value]="el">
                    {{ el }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
            <th mat-header-cell *matHeaderCellDef> {{col.label}} </th>
            <td mat-cell *matCellDef="let element">
                <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                    <div *ngSwitchCase="'isEdit'">
                    </div>
                    <span *ngSwitchCase="'checkbox'">
                        <mat-checkbox color="primary" #excusedCheckbox
                            [checked]="element[col.key] === 'Извинено' || element[col.key] === true"
                            (click)="$event.preventDefault()">
                        </mat-checkbox>
                    </span>
                    <span *ngSwitchDefault>
                        {{ element[col.key] }}
                    </span>
                </div>
                <div class="edit-view" [ngSwitch]="col.type" *ngIf="element.isEdit">
                    <div class="buttons-edit" *ngSwitchCase="'isEdit'">
                        <button mat-raised-button color="primary" (click)="addRowDone(element)">
                            Готово
                        </button>
                        <button mat-stroked-button color="primary" class="button-remove" (click)="removeRow(element.id)">
                            Отказ
                        </button>
                    </div>
                    <mat-form-field *ngSwitchCase="'selectFirstName'">
                        <mat-select #editSelect [(ngModel)]="element[col.key]"
                            (selectionChange)="getStudentIdSwitch(element)">
                            <mat-option *ngFor="let el of students" [value]="el.firstName">
                                {{ el.firstName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="'selectLastName'">
                        <mat-select #editSelect [(ngModel)]="element[col.key]"
                            (selectionChange)="getStudentIdSwitch(element)">
                            <mat-option *ngFor="let el of students" [value]="el.lastName">
                                {{ el.lastName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span *ngSwitchCase="'checkbox'">
                        <mat-checkbox color="primary" #editCheckbox [(ngModel)]="element[col.key]" [checked]="element[col.key] === 'Извинено' || element[col.key] === true" (change)="onCheckboxChange(element)">
                        </mat-checkbox>
                    </span>
                    <mat-form-field *ngSwitchCase="'selectAbsenceReason'">
                        <mat-select #editSelect [(ngModel)]="element[col.key]"
                            (selectionChange)="getAbsenceReasonSwitch(element)">
                            <mat-option *ngFor="let el of absenceExcuseReasons" [value]="el">
                                {{ el }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="'selectSubject'">
                        <mat-select #editSelect [(ngModel)]="element[col.key]">
                            <mat-option *ngFor="let el of subjects" [value]="el">
                                {{ el }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="'selectGrade'">
                        <mat-select #editSelect [(ngModel)]="element[col.key]"
                            (selectionChange)="getStudentsSwitch(element)">
                            <mat-option *ngFor="let el of grades" [value]="el">
                                {{ el }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="'selectGradeDivision'">
                        <mat-select #editSelect [(ngModel)]="element[col.key]"
                            (selectionChange)="getStudentsSwitch(element)">
                            <mat-option *ngFor="let el of gradeDivisions" [value]="el">
                                {{ el }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <button class="button-add-row" mat-raised-button color="primary" (click)="addRow()">
        Добави ново отсъствие
    </button>
</div>




<div class="studentview" *ngIf="userType() === 'Student' || userType() === 'Parent'">
    <h1 class="title">Моите отсъствия</h1>

    <div class="form-options">
        <div class="subject">
            <mat-form-field>
                <mat-label>Избери предмет:</mat-label>
                <mat-select #subject>
                    <mat-option *ngFor="let el of subjects" [value]="el">
                        {{ el }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="term">
            <mat-form-field>
                <mat-label>Избери срок:</mat-label>
                <mat-select [(ngModel)]="yearTermsSelect" (selectionChange)="applyFilter()">
                    <mat-option *ngFor="let el of yearTerms" [value]="el">
                        {{ el }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema2">
            <th mat-header-cell *matHeaderCellDef> {{col.label}} </th>
            <td mat-cell *matCellDef="let element">
                <div [ngSwitch]="col.type">
                    <span *ngSwitchCase="'checkbox'">
                        <mat-checkbox color="primary" #excusedCheckbox
                            [checked]="element[col.key] === 'Извинено' || element[col.key] === true"
                            (click)="$event.preventDefault()">
                        </mat-checkbox>
                    </span>
                    <span *ngSwitchDefault>
                        {{ element[col.key] }}
                    </span>
                </div>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"
            [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="highlight(row)"></tr>
    </table>



<div *ngIf="userType() === 'Parent'">
    <button class="button-excuse" mat-raised-button color='primary' (click)="openDialog()"
        *ngIf="selectedRowIndex != '-1' && excused === false">
        Извини отсъствие
    </button>

    <ng-template #callDialog>
        <form id="excuseForm" #excuseForm="ngForm" (ngSubmit)="onSend(excuseForm)">
            <h2 matDialogTitle style="text-align: center;">Форма за извинение от родител</h2>
            <mat-form-field>
                <mat-label>Изберете причина за отсъствието:</mat-label>
                <mat-select #excuseReason (selectionChange)="getExcuseReasonSwitch($event.value)">
                    <mat-option *ngFor="let el of absenceExcuseReasons" [value]="el">
                        {{ el }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-label>Прикачете извинителни бележки тук (снимка):</mat-label>
            <div class="file-upload">
                <input type="file" class="notes-input" name="notes" accept="image/*" #fileUpload (change)="onFileSelected($event)">
                <button mat-raised-button #file class="file-button"
                    (click)="fileUpload.click(); $event.preventDefault()"><mat-icon>attach_file</mat-icon>Прикачи</button>
                    <p>{{ fileMessage }}</p>
            </div>
            <mat-dialog-actions class="formActions">
                <button mat-raised-button color="primary" matDialogClose="no">Откажи</button>
                <button type="submit" mat-raised-button color="primary" matDialogClose="yes">Изпрати</button>
            </mat-dialog-actions>
        </form>
    </ng-template>

</div>
</div>