.teacherview,
.studentview{
    margin-bottom: 100px;
}

.title{
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}

table th,
table tbody td{
    padding: 0 16px 0 16px!important; 
}

.gradesSelect mat-form-field{
    margin-left: 8px;
}

h2 {
    color: #333;
}

.button-add-row,
.button-excuse{
    margin-top: 20px;
    float: right;
}

.form-options{
    display: flex;
}

.subject{
    margin-right: 10px;
}

.highlight{
    background: #ccc;
}

.formActions{
    justify-content: right;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 30px 20px 30px;
  }

.notes-input {
    display: none;
}
.file-upload {
    margin-top: 5px;
    cursor: pointer;
    width: fit-content;
    padding: 6px 10px;
}

.file-upload:hover{
    cursor: pointer;
}


.file-upload-label{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
}

.buttons-edit{
    display: flex;
    justify-content: space-between;
}

.edit-view mat-form-field{
    max-width: 150px;
}

.button-remove{
    margin-left: 10px;
}







