<div class="teacherview" *ngIf="userType() === 'Teacher' || userType() === 'Grade teacher'">
    <h1 class="title">Отсъствия</h1>

    <div class="grade">
        <mat-form-field>
            <mat-label>Избери клас:</mat-label>
            <mat-select>
                <mat-option value="eight">8</mat-option>
                <mat-option value="nine">9</mat-option>
                <mat-option value="ten">10</mat-option>
                <mat-option value="eleven">11</mat-option>
                <mat-option value="twelve">12</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Избери паралелка:</mat-label>
            <mat-select>
                <mat-option value="a">А</mat-option>
                <mat-option value="b">Б</mat-option>
                <mat-option value="c">В</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> Име </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Фамилия </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="absenceType">
            <th mat-header-cell *matHeaderCellDef> Извинено </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox #excusedCheckbox [checked]="element.absenceType === 'Извинено'">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="absenceReason">
            <th mat-header-cell *matHeaderCellDef> Причина за отсъствие </th>
            <td mat-cell *matCellDef="let element"> {{element.absenceReason}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="highlight(row)"></tr>
    </table>

    <button class="button-add-row" mat-raised-button (click)="addRow()">
        Добави ново отсъствие
    </button>
</div>




<div class="studentview" *ngIf="userType() === 'Student' || userType() === 'Parent'">
    <h1 class="title">Моите отсъствия</h1>

    <div class="form-options">
        <div class="subject">
            <mat-form-field>
                <mat-label>Избери предмет:</mat-label>
                <mat-select #subject>
                    <mat-option value="bg">БЕЛ</mat-option>
                    <mat-option value="math">Математика</mat-option>
                    <mat-option value="en">Английски език</mat-option>
                    <mat-option value="bio">Биология</mat-option>
                    <mat-option value="geo">География</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="term">
            <mat-form-field>
                <mat-label>Избери срок:</mat-label>
                <mat-select #term>
                    <mat-option value="first">Първи срок</mat-option>
                    <mat-option value="second">Втори срок</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <ng-container [ngSwitch]="term.value">
        <div *ngSwitchDefault>
            <h1>Моля изберете предмет и срок...</h1>
        </div>

        <table mat-table [dataSource]="firstTerm" class="mat-elevation-z8" *ngSwitchCase="'first'">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="absenceReasonId">
                <th mat-header-cell *matHeaderCellDef> Причина за отсъствие </th>
                <td mat-cell *matCellDef="let element"> {{element.absenceReasonId}} </td>
            </ng-container>

            <ng-container matColumnDef="absenceTypeId">
                <th mat-header-cell *matHeaderCellDef> Извинено </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox #excusedCheckbox [checked]="element.absenceTypeId === 'Извинено'"
                        (click)="$event.preventDefault()">
                    </mat-checkbox>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"
                [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="highlight(row)"></tr>
        </table>

        <table mat-table [dataSource]="secondTerm" class="mat-elevation-z8" *ngSwitchCase="'second'">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="absenceReasonId">
                <th mat-header-cell *matHeaderCellDef> Причина за отсъствие </th>
                <td mat-cell *matCellDef="let element"> {{element.absenceReasonId}} </td>
            </ng-container>

            <ng-container matColumnDef="absenceTypeId">
                <th mat-header-cell *matHeaderCellDef> Извинено </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox #excusedCheckbox [checked]="element.absenceTypeId === 'Извинено'"
                        (click)="$event.preventDefault()">
                    </mat-checkbox>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"
                [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="highlight(row)"></tr>
        </table>

    </ng-container>

</div>


<div *ngIf="userType() === 'Parent'">
    <button class="button-excuse" mat-raised-button (click)="openDialog()"
        *ngIf="selectedRowIndex != -1 && excused === false">
        Извини отсъствие
    </button>

    <ng-template #callDialog>
        <form id="excuseForm" #excuseForm="ngForm" (ngSubmit)="onSend(excuseForm)">
            <h2 matDialogTitle style="text-align: center;">Форма за извинение от родител</h2>
            <mat-form-field>
                <mat-label>Изберете причина за отсъствието:</mat-label>
                <mat-select #excuseReason>
                    <mat-option value="medicalReasons">Медицински причини</mat-option>
                    <mat-option value="familyReasons">Семейни причини</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-label>Прикачете извинителни бележки тук (снимка):</mat-label>
            <div class="file-upload">
                <label for="notes" class="file-upload-label">Прикачи<mat-icon matPrefix>attachment</mat-icon></label>
                <input type="file" id="notes" name="notes" accept="image/*">
            </div>
            <mat-dialog-actions class="formActions">
                <button mat-button matDialogClose="no">Откажи</button>
                <button type="submit" mat-button matDialogClose="yes">Изпрати</button>
            </mat-dialog-actions>
        </form>
    </ng-template>

    <!-- <div>
        <h2>Форма за извинение от родител</h2>
        <form id="apologyForm">

            <div>


                <label for="classSelect">Изберете клас:</label>
                <select id="classSelect" name="class">
                    <option value="1A">1A</option>
                    <option value="1B">1B</option>
                </select>

            </div>


            <div>



                <label for="studentSelect">Изберете ученик:</label>
                <select id="studentSelect" name="student">
                    <option value="student">Георги Иванов</option>
                    <option value="student">Иван Иванов</option>
                </select>

            </div>

            <div>



                <label for="reasonSelect">Изберете причина за отсъствието:</label>
                <select id="reasonSelect" name="reason">
                    <option value="болен">Болен</option>
                    <option value="лични дела">Лични дела</option>
                    <option value="учебна дейност">Учебна дейност</option>
                </select>

            </div>

            <div>


                <label for="notes">Прикачете извинителни бележки (снимка):</label>
                <input type="file" id="notes" name="notes" accept="image/*">
            </div>


            <div>


                <button type="button" onclick="submitForm()">Запиши</button>

            </div>
        </form>
    </div> -->

</div>