<h1 style="text-align: center; font-size: 30px; margin-top: 20px;">Събития</h1>
<div class="calendar">
	<mat-card class="calendar-card"  *ngIf="hasLoaded">
		<mat-calendar #calendar [(selected)]="selected" [dateClass]="dateClass"
			(selectedChange)="onSelectedChange($event)"></mat-calendar>
	</mat-card>

	<mat-card class="add-event" *ngIf="userType() === 'Teacher' || userType() === 'Grade teacher' || userType() === 'Admin'">
		<h3 style="font-size: 20px; padding-bottom: 10px; text-align: center;">Добави ново събитие:</h3>
		<form class="add-event-form" #addEventForm="ngForm" (ngSubmit)="onSend(addEventForm)">
			<mat-form-field>
				<mat-label>Наименование на събитието</mat-label>
				<input matInput #title name="title" ngModel required>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Дата</mat-label>
				<input matInput type="date" #date name="date" ngModel required>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Час</mat-label>
				<input matInput type="time" name="time" ngModel required>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Местоположение на събитието</mat-label>
				<input matInput #title name="place" ngModel required>
			</mat-form-field>
			<mat-form-field>
				<mat-select ngModel name="isPrivate">
					<mat-option *ngFor="let el of privateSelectValues" [value]="el">
						{{ el }}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Описание на събитието</mat-label>
				<textarea matInput #title name="description" ngModel required></textarea>
			</mat-form-field>
			<button type="submit" mat-raised-button class="add-event-button" color="primary">Добави</button>
		</form>
	</mat-card>

	<ng-template #showDialog class="eventDialog">
		<h2 matDialogTitle style="text-align: center; font-size: 25px;">Събитие:</h2>
		<mat-dialog-content class="event-content">
			<mat-divider></mat-divider>
			<h3>Наименование:</h3>
			<p> {{selectedEventTitle}} </p>
			<mat-divider></mat-divider>
			<h3>Дата:</h3>
			<p> {{selectedEventDate}} </p>
			<mat-divider></mat-divider>
			<h3>Място:</h3>
			<p> {{selectedEventPlace}} </p>
			<mat-divider></mat-divider>
			<h3>Описание:</h3>
			<p> {{selectedEventDescription}} </p>
		</mat-dialog-content>
		<mat-dialog-actions class="formActions">
			<button mat-raised-button matDialogClose color="primary">Затвори</button>
		</mat-dialog-actions>
	</ng-template>

</div>