  .calendar{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding-bottom: 100px;
  }

  .calendar-card{
    width: 350px;
    height: fit-content
  }
  
  button.event-date {
    border-width: 0px;
    border-style: solid;
    border-radius: 999px;
    background-color: #f1604d;
  }

  .add-event{
    width: 50%;
    padding: 20px 40px 20px 40px;
  }

  .add-event-form{
    display: flex;
    flex-direction: column;
  }

  .add-event-button{
    width: fit-content;
    left: 85%;
  }

  .formActions{
    float: right;
    right: 10px;
    bottom: 10px;
  }

  .event-content h3{
    font-weight: 500; 
    color:black;
  }

  .event-content p{
    color:black;
  }
  