<div class="container">


	<div class="calendar">
		<table>
			<thead>
				<tr>
					<th>Дата</th>
					<th>Наименование</th>
					<th>Час</th>
					<th>Действие</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>



	<!-- 
    <div class="add-event">
      <input type="text" id="event-name" placeholder="Наименование">
      <input type="date" id="event-date" placeholder="Дата">
      <input type="time" id="event-time" placeholder="Час">
      <button id="add-event-button" onclick="addEvent()">Добави събитие</button>
    </div> -->

	<div class="calendar-container">
		<header class="calendar-header">
			<p class="calendar-current-date"></p>
			<div class="calendar-navigation">
				<span id="calendar-prev" class="material-symbols-rounded">
					<!-- стрелки-->
				</span>
				<span id="calendar-next" class="material-symbols-rounded">
					<!-- стрелки-->
				</span>
			</div>
		</header>
	
		<div class="calendar-body">
			<ul class="calendar-weekdays">
				<li>Sun</li>
				<li>Mon</li>
				<li>Tue</li>
				<li>Wed</li>
				<li>Thu</li>
				<li>Fri</li>
				<li>Sat</li>
			</ul>
			<ul class="calendar-dates"></ul>
		</div>
	</div>

</div>



<!-- Календар  изглед-->


