<div class="login-container">
	<div class="login-content">
		<mat-toolbar class="login-toolbar">Вход</mat-toolbar>
		<mat-card>

			<form>
				<mat-form-field>
					<mat-icon matPrefix>person_outline</mat-icon>
					<input autofocus type="text" matInput placeholder="Потребителско име" name="username" #username>
				</mat-form-field>

				<mat-form-field>
					<mat-icon matPrefix>lock_outline</mat-icon>
					<input type="password" autocomplete="false" matInput placeholder="Парола" name="password" #password>
				</mat-form-field>

                <button style="width:50%" type="submit" mat-raised-button (click) = "login(username.value, password.value)">Вход</button>
			</form>
		</mat-card>
	</div>
</div>

