.login-container {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
  }
  
  form {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .login-content {
    width: 400px;
    margin: 0 auto;
  }
  
  .login-toolbar {
    justify-content: center;
  }

  mat-form-field{
    width: 90%;
  }

