<!-- За ученик -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles-index.css">
    <title>Онлайн дневник</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <h1>Онлайн Дневник</h1>
            <nav class="navbar">
                <a href="#">Начало</a>
                <a href="calendar-student.html">Календар</a>
                <a href="grades-student.html">Оценки</a>
                <a href="#">Чат</a>
                <a href="student.html">Профил на ученик</a>
            </nav>
        </header>
        <footer>
        </footer>
    </div>
</body>

<!-- За учител -->
</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles-index.css">
    <title>Онлайн дневник</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <h1>Онлайн Дневник</h1>
            <nav class="navbar">
                <a href="#">Начало</a>
                <a href="absence.html">Отсъствия</a>
                <a href="grades.html">Оценки</a>
                <a href="calendar.html">Каледар</a>
                <a href="teacher.html">Профил на учителя</a>
                <li><a href="#">Обратна връзка</a></li>
            </nav>
        </header>

        <!-- Останалата част от вашия контент тук -->

        <footer>
            <!-- Вашият футър тук -->
        </footer>
    </div>
</body>

</html>
