<!-- Профил на учител-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="student.component.css">
    <title>Учител</title>
</head>

<body>
    <div class="container">
        <header>

        </header>

        <nav class="navigation">
            <ul>
                <li><a href="index-teacher.html">Начало</a></li>
                <li><a href="absence.html">Отсъствия</a></li>
                <li><a href="grades.html">Оценки</a></li>
                <li><a href="calendar.html">Каледар</a></li>
                <li><a href="#">Обратна връзка</a></li>
            </ul>
        </nav>

        <main>
            <section class="teacher-profile">
                <h1>Профил на учителя</h1>
                <div class="profile-info">
                    <label for="teacher-name">Име на учителя:</label>
                    <p id="teacher-name">Георги Георгиев</p>
                    <label for="subject">Предмети:</label>
                    <p id="subject">Математика, Физика</p>
                </div>
            </section>
        </main>

        <footer>

        </footer>
    </div>
</body>

</html>

<!-- Профил на ученик-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="student.component.css">
    <title>Ученик</title>
</head>

<body>
    <div class="container">
        <header>

        </header>

 

        <main>
            <section class="student-profile">
                <h1>Профил на ученика</h1>
                <div class="profile-info">
                    <label for="student-name">Име на ученика:</label>
                    <p id="student-name">Иван Иванов</p>
                    <label for="class">Клас:</label>
                    <p id="class">9Б</p>
                    <label for="parent-name">Име на родителя:</label>
                    <p id="parent-name">Мария Иванова</p>

                </div>
            </section>
        </main>

        <footer>

        </footer>
    </div>
</body>

</html>
