<h2>Избор на предмет</h2>
<form id="addSubjectForm">
    <label>Изберете предмет:</label>
    <!-- <select #subjectSelect name="subjectSelect">
        <option value="Математика">Математика</option>
        <option value="Английски">Английски език</option>
        <option value="Литература">Литература</option>
        <option value="Музика">Музика</option>
        <option value="Изобразително изкуство">Изобразително изкуство</option>
        <option value="ИТ">ИТ</option>
        <option value="Физика">Физика</option>
        <option value="Химия">Химия</option>
        <option value="Биология">Биология</option>
    </select> -->

    <input type="text" #subjectSelect>


    <label>Изберете клас:</label>
    <select #classSelect name="classSelect">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>

    </select>
    <!-- 
    <label for="additionalInfo">Допълнителна информация:</label>
    <textarea id="additionalInfo" name="additionalInfo" rows="4"></textarea> -->

    <button mat-raised-button color="primary" type="button" (click)="addSubject($event)">Добави предмет</button>
</form>


<script src="admin-acc.html"></script>




<mat-card class="admin-card">
    <h3>Генерирай файл с учители и класове:</h3>
    <button mat-raised-button color="primary" (click)="downloadCsvFile()" class="generate-button">Генерирай</button>

    <mat-divider></mat-divider>
    <h3>Прикачи файл с учители и класове:</h3>

    <div class="add-file-input">
        <input type="file" name="file-input" class="file-input" accept=".xlsx" #fileUpload>
        <button mat-raised-button color="primary" #file class="file-button"
            (click)="fileUpload.click()"><mat-icon>attach_file</mat-icon>Прикачи</button>

        <button type="submit" mat-raised-button class="submit-data-button" color="primary"
            (click)="sendJson()">Добави</button>
    </div>
</mat-card>