<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.component.css">
</head>
<body>
    <form id="registrationForm">
        <label for="firstName">Име:</label>
        <input type="text" #firstName name="firstName" required>

        <label for="lastName">Фамилия:</label>
        <input type="text" #lastName name="lastName" required>

        <label for="email">Имейл:</label>
        <input type="email" #email name="email" required>

        <label for="password">Парола:</label>
        <input type="password" #password name="password" required>

        <label for="confirmPassword">Потвърди парола:</label>
        <input type="password" #confirmPassword name="confirmPassword" required>

        <label for="userType">Тип на профила:</label>
        <select #userType name="userType" required>
            <option value="student">Ученик</option>
            <option value="parent">Родител</option>
        </select>

        <button type="button" (click) = "register(firstName.value, lastName.value, email.value, password.value, confirmPassword.value, userType.value)">Регистрация</button>
    </form>

    <script src="register.component.ts"></script>
</body>
</html>
