<div class="register-container">
	<div class="register-content">
		<mat-toolbar class="register-toolbar">Регистрация</mat-toolbar>
		<mat-card>

			<form>
				<mat-form-field>
					<mat-icon matPrefix>person_outline</mat-icon>
					<input autofocus type="text" matInput placeholder="Име" name="firstName" #firstName>
				</mat-form-field>

                <mat-form-field>
                    <mat-icon matPrefix>person_outline</mat-icon>
                    <input autofocus type="text" matInput placeholder="Фамилия" name="lastName" #lastName>
				</mat-form-field>
                
                <mat-form-field>
					<mat-icon matPrefix>email</mat-icon>
					<input autofocus type="email" matInput placeholder="Имейл" name="email" #email>
				</mat-form-field>

				<mat-form-field>
					<mat-icon matPrefix>lock_outline</mat-icon>
					<input type="password" autocomplete="false" matInput placeholder="Парола" name="password" #password>
				</mat-form-field>

                <mat-form-field>
					<mat-icon matPrefix>lock_outline</mat-icon>
					<input type="password" autocomplete="false" matInput placeholder="Потвърди парола" name="confirmPassword" #confirmPassword>
				</mat-form-field>

                <mat-form-field>
                    <mat-label>Тип на профила</mat-label>
                    <mat-select name="userType" #userType>
                        <!-- <mat-option value="admin">Администратор</mat-option> -->
						<mat-option value="Teacher">Учител</mat-option>
                        <mat-option value="Student">Ученик</mat-option>
                        <mat-option value="Parent">Родител</mat-option>
                    </mat-select>
                </mat-form-field>

                <button style="width:50%" type="submit" mat-raised-button (click) = "register($event, firstName.value, lastName.value, email.value, password.value, confirmPassword.value, userType.value)">Регистрация</button>
			</form>
		</mat-card>
	</div>
</div>

