<div class="teacherview" *ngIf="userType() === 'Teacher' || userType() === 'Grade teacher'">
    <h1 class="title">Забeлежки</h1>

    <div class="gradesSelect">
        <mat-form-field>
            <mat-label>Избери клас:</mat-label>
            <mat-select [(ngModel)]="gradeSelect" (selectionChange)="applyFilter()">
                <mat-option *ngFor="let el of grades" [value]="el">
                    {{ el }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Избери паралелка:</mat-label>
            <mat-select [(ngModel)]="gradeDivisionSelect" (selectionChange)="applyFilter()">
                <mat-option *ngFor="let el of gradeDivisions" [value]="el">
                    {{ el }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Избери срок:</mat-label>
            <mat-select [(ngModel)]="yearTermsSelect" (selectionChange)="applyFilter()">
                <mat-option *ngFor="let el of yearTerms" [value]="el">
                    {{ el }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
            <th mat-header-cell *matHeaderCellDef> {{col.label}} </th>
            <td mat-cell *matCellDef="let element">
                <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                    <span *ngSwitchCase="'isEdit'">
                        <button mat-raised-button color="primary" (click)="element.isEdit = !element.isEdit">
                            Редактирай
                        </button>
                    </span>
                    <span *ngSwitchDefault>
                        {{ element[col.key] }}
                    </span>
                </div>
                <div class='edit-view' [ngSwitch]="col.type" *ngIf="element.isEdit">
                    <div class="buttons-edit" *ngSwitchCase="'isEdit'">
                        <button mat-raised-button color="primary" (click)="addRowDone(element)">
                            Готово
                        </button>
                        <button mat-stroked-button color="primary" class="button-remove" (click)="removeRow(element)">
                            Отказ
                        </button>
                    </div>
                    <mat-form-field *ngSwitchCase="'selectFirstName'">
                        <mat-select #editSelect [(ngModel)]="element[col.key]"
                            (selectionChange)="getStudentIdSwitch(element)">
                            <mat-option *ngFor="let el of students" [value]="el.firstName">
                                {{ el.firstName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="'selectLastName'">
                        <mat-select #editSelect [(ngModel)]="element[col.key]"
                            (selectionChange)="getStudentIdSwitch(element)">
                            <mat-option *ngFor="let el of students" [value]="el.lastName">
                                {{ el.lastName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="'selectSubject'">
                        <mat-select #editSelect [(ngModel)]="element[col.key]">
                            <mat-option *ngFor="let el of subjects" [value]="el">
                                {{ el }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="'selectGrade'">
                        <mat-select #editSelect [(ngModel)]="element[col.key]"
                            (selectionChange)="getStudentsSwitch(element)">
                            <mat-option *ngFor="let el of grades" [value]="el">
                                {{ el }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="'selectGradeDivision'">
                        <mat-select #editSelect [(ngModel)]="element[col.key]"
                            (selectionChange)="getStudentsSwitch(element)">
                            <mat-option *ngFor="let el of gradeDivisions" [value]="el">
                                {{ el }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="'textarea'">
                        <textarea type="text" matInput placeholder="Напиши забележката тук..." name="note"
                            #note [(ngModel)]="element[col.key]"></textarea>
                    </mat-form-field>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <button class="button-add-row" mat-raised-button color="primary" (click)="addNote()">
        Добави нова забележка
    </button>
</div>

<div class="studentview" *ngIf="userType() === 'Student' || userType() === 'Parent'">
    <h1 class="title">Моите забележки</h1>

    <div class="form-options">
        <div class="subject">
            <mat-form-field>
                <mat-label>Избери предмет:</mat-label>
                <mat-select [(ngModel)]="subjectSelect" (selectionChange)="applyFilter()">
                    <mat-option *ngFor="let el of subjects" [value]="el">
                        {{ el }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="term">
            <mat-form-field>
                <mat-label>Избери срок:</mat-label>
                <mat-select [(ngModel)]="yearTermsSelect" (selectionChange)="applyFilter()">
                    <mat-option *ngFor="let el of yearTerms" [value]="el">
                        {{ el }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <ng-container>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema2">
                <th mat-header-cell *matHeaderCellDef> {{col.label}} </th>
                <td mat-cell *matCellDef="let element">
                    <div [ngSwitch]="col.type">
                        <span *ngSwitchDefault>
                            {{ element[col.key] }}
                        </span>
                    </div>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>

    </ng-container>
</div>