<div class="teacherview" *ngIf="userType() === 'Teacher' || userType() === 'Grade teacher'">
    <h1 class="title">Забeлежки</h1>

    <div class="grade">
        <mat-form-field>
            <mat-label>Избери клас:</mat-label>
            <mat-select>
                <mat-option value="eight">8</mat-option>
                <mat-option value="nine">9</mat-option>
                <mat-option value="ten">10</mat-option>
                <mat-option value="eleven">11</mat-option>
                <mat-option value="twelve">12</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Избери паралелка:</mat-label>
            <mat-select>
                <mat-option value="a">А</mat-option>
                <mat-option value="b">Б</mat-option>
                <mat-option value="c">В</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
            <th mat-header-cell *matHeaderCellDef> {{col.label}} </th>
            <td mat-cell *matCellDef="let element">
                <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                    <span *ngSwitchCase="'isEdit'">
                    </span>
                    <span *ngSwitchCase="'textarea'">
                        {{ element[col.key] }}
                    </span>
                    <span *ngSwitchDefault>
                        {{ element[col.key] }}
                    </span>
                </div>
                <div [ngSwitch]="col.type" *ngIf="element.isEdit">
                    <div class="buttons-edit" *ngSwitchCase="'isEdit'">
                        <button mat-raised-button color="primary" (click)="element.isEdit = !element.isEdit">
                            Готово
                        </button>
                        <button mat-stroked-button color="primary" class="button-remove" (click)="removeRow(element.id)">
                            Отказ
                        </button>
                    </div>
                    <mat-form-field *ngSwitchCase="'textarea'">
                        <textarea type="text" matInput placeholder="Напиши забележката тук..." name="note"
                            #note [(ngModel)]="element[col.key]"></textarea>
                    </mat-form-field>
                    <mat-form-field *ngSwitchDefault>
                        <input [type]="col.type" matInput [(ngModel)]="element[col.key]" />
                    </mat-form-field>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <button class="button-add-row" mat-raised-button color="primary" (click)="addNote()">
        Добави нова забележка
    </button>
</div>

<div class="studentview" *ngIf="userType() === 'Student' || userType() === 'Parent'">
    <h1 class="title">Моите забележки</h1>

    <div class="form-options">
        <div class="subject">
            <mat-form-field>
                <mat-label>Избери предмет:</mat-label>
                <mat-select #subject>
                    <mat-option value="bg">БЕЛ</mat-option>
                    <mat-option value="math">Математика</mat-option>
                    <mat-option value="en">Английски език</mat-option>
                    <mat-option value="bio">Биология</mat-option>
                    <mat-option value="geo">География</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="term">
            <mat-form-field>
                <mat-label>Избери срок:</mat-label>
                <mat-select #term>
                    <mat-option value="first">Първи срок</mat-option>
                    <mat-option value="second">Втори срок</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <ng-container [ngSwitch]="term.value">
        <div *ngSwitchDefault>
            <h1>Моля изберете предмет и срок...</h1>
        </div>

        <table mat-table [dataSource]="firstTerm" class="mat-elevation-z8" *ngSwitchCase="'first'">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef> Забележка </th>
                <td mat-cell *matCellDef="let element"> {{element.note}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>

        <table mat-table [dataSource]="secondTerm" class="mat-elevation-z8" *ngSwitchCase="'second'">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef> Забележка </th>
                <td mat-cell *matCellDef="let element"> {{element.note}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>

    </ng-container>
</div>