.title{
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}

.gradesSelect mat-form-field{
    margin-left: 8px;
}

h2 {
    color: #333;
}

.form-options{
    display: flex;
}

.subject{
    margin-right: 10px;
}

.button-add-row{
    margin-top: 20px;
    float: right;
}

.buttons-edit{
    display: flex;
}

.button-remove{
    margin-left: 10px;
}

.edit-view mat-form-field{
    max-width: 150px;
}




