<div class="teacherview" *ngIf="userType() === 'Teacher' || userType() === 'Grade teacher'">
    <h1 class="title">Забeлежки</h1>

    <div class="grade">
        <mat-form-field>
            <mat-label>Избери клас:</mat-label>
            <mat-select>
                <mat-option value="eight">8</mat-option>
                <mat-option value="nine">9</mat-option>
                <mat-option value="ten">10</mat-option>
                <mat-option value="eleven">11</mat-option>
                <mat-option value="twelve">12</mat-option>
            </mat-select>   
        </mat-form-field>

        <mat-form-field>
            <mat-label>Избери паралелка:</mat-label>
            <mat-select>
                <mat-option value="a">А</mat-option>
                <mat-option value="b">Б</mat-option>
                <mat-option value="c">В</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> Име </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Фамилия </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef> Забележка </th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field>
                    <textarea type="text" matInput placeholder="Напиши забележката тук..." name="note" #note></textarea>
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="add">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <button class="button-add-row" mat-raised-button (click)="addNote()">
                    Добави нова забележка
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div class="studentview" *ngIf="userType() === 'Student' || userType() === 'Parent'">
    <h1 class="title">Моите забележки</h1>

    <div class="subject">
        <mat-form-field>
            <mat-label>Избери предмет:</mat-label>
            <mat-select>
                <mat-option value="bg">БЕЛ</mat-option>
                <mat-option value="math">Математика</mat-option>
                <mat-option value="en">Английски език</mat-option>
                <mat-option value="bio">Биология</mat-option>
                <mat-option value="geo">География</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef> Забележка </th>
            <td mat-cell *matCellDef="let element"> {{element.note}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>
</div>
          
  
  