<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="grade-teacher.component.css">
</head>

<body>
    <div class="container">
        <h1>Въвеждане на оценки</h1>
        <form id="grade-form">
            <label for="student">Име на ученика:</label>
            <select id="student" name="student" required>
                <option value="ученик1">Ученик 1</option>
                <option value="ученик2">Ученик 2</option>
            </select><br><br>
            <label for="subject">Учебен предмет:</label>
            <input type="text" id="subject" name="subject" required><br><br>
            <label for="grade">Оценка:</label>
            <select id="grade" name="grade" required>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select><br><br>
            <button type="submit" class="grade-button">Запази оценка</button>
        </form>
    </div>
    <script src="grades.js"></script>
</body>

</html>