.grades,
.grades-term {
    display: inline-block;

}

td.inner-cell {
    margin: 0 2em;
}

.flex-main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}




.flex-item-1 {
    flex: 1;
}

.flex-item-2 {
    flex: 1;
}


.inline {
    display: inline;
}


.grades-row .subjects .subject p {
    display: block;
    position: relative;
    right: 1em;
    top: 0.6em;
}



.grades-row .subjects .subject-marks {
    position: relative;
    left: 14em;
    bottom: 2.3em;
}


.grades-table,
.terms-table {
    width: 100%;
}



.grades-table .first-term,
.grades-table .second-term {
    border-spacing: 1em;
}


.term-grades-subject {
    margin: 3em 0;
}



.term-grade {
    padding: 0.2em;
    display: flex;
}

.subject-marks {
    position: relative;
    left: 5em;
}

.subjects {
    padding-top: 1em;
}



.inner-cell-second {
    display: block;
    position: relative;
    left: 3em;
}



.poor {
    background: red;
}


.middle {
    background: orange;
}

.good {
    background: yellow;
}

.very-good {
    background: lightblue;
}

.excellent {
    background: lightgreen;
}

.term-final {
    display: block;
    position: relative;
    left: 10em;
}


.final-grade {
    position: relative;
    right: 1.5em;
    top: 2em;
}

.second-term {
    display: block;
    position: relative;
    right: 2em;
}


.term-data {
    border: none;
}



.main-table {
    position: relative;
}

.first-term, .second-term {
    margin-bottom: 0.4em;
   
} 


.term-grades-subject td {
    padding: 0.2em;
}

