<!-- За учител
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body> -->



    <table class="main-table" *ngIf="userType() === 'Student' || userType() === 'Parent'">


        <thead>

            <tr>
                <th>
                    Предмет
                </th>


                <table class="terms-table">


                    <thead>

                        <tr class="flex-main-container">

                            <th class="flex-item-1">
                                <p class="term">Първи срок</p>

                                <table class="first-term">


                                    <tr>



                                        <td class="inner-cell-first">Текущи</td>

                                        <td class="inner-cell-second">Срочна</td>


                                    </tr>

                                </table>
                            </th>



                            <th class="flex-item-2">

                                <p class="term second">Втори срок</p>

                                <table class="first-term">


                                    <tr>


                                        <td class="inner-cell-first">Текущи</td>

                                        <td class="inner-cell-second">Срочна</td>


                                    </tr>

                                </table>

                            </th>


                            <th class="flex-item-3">

                                <p class="year-term">Годишна</p>

                            </th>

                        </tr>



                    </thead>


                    <tbody>

                    </tbody>

                </table>

            </tr>


        </thead>








        <tbody class="grades-row">

            <tr>
                <th class="subjects" *ngFor="let subject of grades">

                    <div class="subject">

                        <p>{{subject.subjectName}}</p>

                    </div>


                    <!-- <div class="subject">

                        <p> Mузика </p>



                    </div>


                    <div class="subject">

                        <p>ИТ </p>


                    </div> -->


                </th>


                <table class="grades-table">

                    <thead class="flex-header">

                        <tr class="flex-main-container">


                            <th class="flex-item-1 flex-grades">
                                <p class="term"></p>



                                <table class="first-term" *ngFor="let subject of grades">



                                    <tr class="term-grades-subject">


                                        <td *ngFor="let mark of subject['term-1-marks']">
                                            <span class="term-grade {{gradesDictionary[mark]}}">{{mark}}</span>
                                        </td>

                                        <td class="term-final">
                                            <span class="term-grade {{gradesDictionary[subject['term-1-final']]}}">
                                                {{subject['term-1-final']}}
                                            </span>
                                        </td>

                                    </tr>



                                </table>
                            </th>


                            <th class="flex-item-2 flex-grades">

                                <p class="term"></p>

                                <table class="second-term" *ngFor="let subject of grades">


                                    <tr class="term-grades-subject">



                                        <td *ngFor="let mark of subject['term-2-marks']">
                                            <span class="term-grade {{gradesDictionary[mark]}}">{{mark}}</span>
                                        </td>

                                        <td class="term-final">
                                            <span class="term-grade {{gradesDictionary[subject['term-2-final']]}}">
                                                {{subject['term-2-final']}}
                                            </span>
                                        </td>



                                    </tr>



                                </table>
                            </th>

                            <th class="flex-item-3 flex-grades">

                        <tr class="final-grade" *ngFor="let subject of grades">
                            <td>
                                <span class="term-grade {{gradesDictionary[subject['year-mark']]}}">{{subject['year-mark']}}
                                </span>
                            </td>
                        </tr>
                        </th>

            </tr>



            </thead>


        <tbody>

        </tbody>

    </table>

            </tr>


    </tbody>








    </table>


    <!-- <script src="grades.js"></script> -->


    <div class="container" *ngIf="userType() == 'Teacher' || userType() == 'Grade teacher'">
        <h1>Въвеждане на оценки</h1>
        <form id="grade-form">
            <label for="student">Име на ученика:</label>
            <select id="student" name="student" required>
                <option value="ученик1">Ученик 1</option>
                <option value="ученик2">Ученик 2</option>
            </select><br><br>
            <label for="subject">Учебен предмет:</label>
            <input type="text" id="subject" name="subject" required><br><br>
            <label for="grade">Оценка:</label>
            <select id="grade" name="grade" required>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select><br><br>
            <button type="submit" class="grade-button">Запази оценка</button>
        </form>
    </div>


    <mat-card class="admin-card" *ngIf="userType() == 'Teacher' || userType() == 'Grade teacher'">
        <h3>Генерирай файл с оценки:</h3>
        <button mat-raised-button color="primary" (click)="downloadCsvFile()" class="generate-button">Генерирай</button>
    
        <mat-divider></mat-divider>
        <h3>Прикачи файл с оценки:</h3>
    
        <div class="add-file-input">
            <input type="file" name="file-input" class="file-input" accept=".xlsx" #fileUpload>
            <button mat-raised-button color="primary" #file class="file-button"
                (click)="fileUpload.click()"><mat-icon>attach_file</mat-icon>Прикачи</button>
    
            <button type="submit" mat-raised-button class="submit-data-button" color="primary"
                (click)="sendJson()">Добави</button>
        </div>
    </mat-card>


<!-- </body>

</html> -->



<!-- За учиеник/родител-->
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ученически оценки</title>
    <link rel="stylesheet" href="styles-grades-students.css">
</head>

<body>
    <div class="container">
        <h1>Моите оценки</h1>
        <div id="grades"></div>
    </div>
    <script src="grades-student.js"></script>
    <table class="main-table">


        <thead>

            <tr>
                <th>
                    Предмет
                </th>


                <table class="terms-table">


                    <thead>

                        <tr class="flex-main-container">

                            <th class="flex-item-1">
                                <p class="term">Първи срок</p>

                                <table class="first-term">


                                    <tr>



                                        <td class="inner-cell-first">Текущи</td>

                                        <td class="inner-cell-second">Срочна</td>


                                    </tr>

                                </table>
                            </th>



                            <th class="flex-item-2">

                                <p class="term">Втори срок</p>

                                <table class="first-term">


                                    <tr>


                                        <td class="inner-cell-first">Текущи</td>

                                        <td class="inner-cell-second">Срочна</td>


                                    </tr>

                                </table>

                            </th>


                            <th class="flex-item-3">

                                <p class="term">Годишна</p>

                            </th>

                        </tr>



                    </thead>


                    <tbody>

                    </tbody>

                </table>

            </tr>


        </thead>



        <tbody class="grades-row">

            <tr>
                <th class="subjects">

                    <div class="subject">

                        <p>Математика</p>



                    </div>


                    <div class="subject">

                        <p> Mузика </p>



                    </div>


                    <div class="subject">

                        <p>ИТ </p>




                    </div>


                </th>


                <table class="grades-table">

                    <thead class="flex-header">

                        <tr class="flex-main-container">


                            <th class="flex-item-1 flex-grades">
                                <p class="term"></p>

                                <table class="first-term">


                                    <tr class="term-grades-subject">


                                        
                                        <td><span class="term-grade excellent">6</span></td>
                                        <td><span class="term-grade very-good">5</span></td>
                                        <td><span class="term-grade good">4</span></td>
                                        <td><span class="term-grade very-good">5</span></td>

                                        <td class="term-final"><span class="term-grade very-good">5</span></td>

                       
                                   


                                    </tr>
                                    <tr class="term-grades-subject">


             
                                        <td><span class="term-grade excellent">6</span></td>
                                        <td><span class="term-grade very-good">5</span></td>
                                        <td><span class="term-grade good">4</span></td>
                                        <td><span class="term-grade very-good">5</span></td>

                                        <td class="term-final"><span class="term-grade very-good">5</span></td>

                              


                                    </tr>
                                    <tr class="term-grades-subject">
             
                                        <td><span class="term-grade excellent">6</span></td>
                                        <td><span class="term-grade very-good">5</span></td>
                                        <td><span class="term-grade good">4</span></td>
                                        <td><span class="term-grade very-good">5</span></td>
                                

                                        <td class="term-final"><span class="term-grade very-good">5</span></td>




                                    </tr>

                                </table>
                            </th>


                            <th class="flex-item-2 flex-grades">

                                <p class="term"></p>

                                <table class="second-term">


                                    <tr class="term-grades-subject">


                                        
                                        <td><span class="term-grade excellent">6</span></td>
                                        <td><span class="term-grade very-good">5</span></td>
                                        <td><span class="term-grade good">4</span></td>
                                        <td><span class="term-grade very-good">5</span></td>


                                        <td class="term-final"><span class="term-grade very-good">5</span></td>
                       
                                   


                                    </tr>
                                    <tr class="term-grades-subject">


             
                                        <td><span class="term-grade excellent">6</span></td>
                                        <td><span class="term-grade very-good">5</span></td>
                                        <td><span class="term-grade good">4</span></td>
                                        <td><span class="term-grade very-good">5</span></td>

                                        <td class="term-final"><span class="term-grade very-good">5</span></td>

                              


                                    </tr>
                                    <tr class="term-grades-subject">
             
                                        <td><span class="term-grade excellent">6</span></td>
                                        <td><span class="term-grade very-good">5</span></td>
                                        <td><span class="term-grade good">4</span></td>
                                        <td><span class="term-grade very-good">5</span></td>
                                
                                        <td class="term-final"><span class="term-grade very-good">5</span></td>



                                    </tr>

                                </table>
                            </th>

                            <th class="flex-item-3 flex-grades">
                                <tr class="final-grade">
                                    <td><span class= "term-grade excellent">6</span></td>
                                </tr>
                            </th>

                        </tr>



                    </thead>


                    <tbody>

                    </tbody>

                </table>

            </tr>


        </tbody>
    </table>
</body>


</html> -->