h2 {
    color: #333;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    padding: 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


.admin-card{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    height: 300px;
    padding: 20px 40px 20px 40px;
}

.file-input {
    display: none;
  }

.file-unput:hover{
    cursor: pointer;
}

button{
    width: 150px;
}

.add-file-input{
    display: flex;
    justify-content: space-around;
}

.generate-button{
    margin: auto;
    margin-top: 0px;
    margin-bottom: 10px;
}


input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}




.grades,
.grades-term {
    display: inline-block;

}

td.inner-cell {
    margin: 0 2em;
}

.flex-main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}



.flex-item-1 {
    flex: 1;
}

.flex-item-2 {
    flex: 1;
}


.inline {
    display: inline;
}


div.subject:first-child {
    position: relative;
    top: 1.5em;
}

div.subject {
    margin-bottom: 4em;
}


.grades-row .subjects .subject p {
    display: block;
    position: relative;
    right: 1em;
    top: 0.5em
}



.grades-row .subjects .subject-marks {
    position: relative;
    left: 14em;
    bottom: 2.3em;
}


.grades-table,
.terms-table {
    width: 100%;
}



.grades-table .first-term,
.grades-table .second-term {
    border-spacing: 1em;
    /* width: 100%; */
}

.grades-table table.first-term {
    width: 100%;
}

.grades-table table.second-term {
    width: 100%;
}

.grades-table table.first-term td:not(.term-final) {
    margin: 0 0.5em;
    width: 10px;
}

.grades-table table.second-term td:not(.term.final) {
    /* margin: 0 0.em; */
    /* padding-left: 1em    ; */
    /* width: 10px; */
    position: relative;
    left: 2.4em;
}

.second-term tr {
    display: block;
}

.grades-table table.second-term td.term-final {
    width: 1em;
    height: 1px;
    position: relative;
    bottom: 36px;
    right: 100px;
}


.term-final {
    box-sizing: border-box;
    display: table-cell;
}

/* 
table.first-term, table.second-term {
    width: 100%;
} */

/* .term-final {
    margin-left: auto;
} */
/* 
.second-term {
    width: 100%;
} */


/* .term-grades-subject, .second-term .term-grades-subject {
    margin: 3em 0;
    width: 100%;
} */




.term-grades-subject td.term-final {
    display: block;
    margin-left: auto;
    margin-right: 2em;
    width: 1px;
}

.term-grades-subject td.term-final span {
    /* margin-right: auto; */
    position: relative;
    right: 7em;
}


.term-grade {
    padding: 0.2em;
}

.subject-marks {
    position: relative;
    left: 5em;
}

.subjects {
    padding-top: 1em;
}



.inner-cell-second {
    display: block;
    position: relative;
    left: 21.7em;
}



.poor {
    background: red;
}


.middle {
    background: orange;
}

.good {
    background: yellow;
}

.very-good {
    background: lightblue;
}

.excellent {
    background: lightgreen;
}

.term-final {
    display: block;
    position: relative;
}


.flex-item-3 {
    display: flex;
    flex-direction: column;
    gap: 2.3em;
    margin-top: 1.8em;
}




.second-term {
    display: block;
    position: relative;
    right: 2em;
}


.term-data {
    border: none;
}


.term {
    position: relative;
    right: 3em;
}


.main-table {
    position: relative;
}

.first-term, .second-term {
    margin-bottom: 0.4em;
   
} 


.term-grades-subject td {
    padding: 0.2em;
}
 


.first-term .term-final span,
.second-term .term-final span {
    position: relative;
}


.final-grade td {
    position: relative;
    width: 5em;
}

.final-grade td span {
    position: relative;
    left: 1em;
}

td.term-final, .final-grade td,
.second-term .term-grades-subject td,
.first-term .term-grades-subject td  {
    position: relative;
}


.term-grades-subject .term-final {
    width: 2px;
}




/* dialog:not(.final-term-dialog) {
    width: 3.9em;
    height: 1.6em;
} */

dialog {
    /* display: inline-block; */
    width: 3.9em;
    height: 1.6em;
    position: absolute;
    left: 30%;
    bottom: 50%;
    transform: translateY(-50%);
    top: 0;
    right: 0;
}

.term-dialog {
    left: 0;
    right: 50%;
    transform: translateX(50%);
    bottom: 50%;
    transform: translateY(-50%); 
}

.final-term-dialog {

    position: absolute;

    /* position: relative; */
    /* right: 20em; */


    left: 0;
    right: 50%;
    transform: translateX(-50%);
    
    /* position: relative; */
    /* padding-right: auto; */

}


dialog p {
    font-size: 5px;
    width: 50px;
    line-height: 1.3;
    position: relative;
    bottom: 1.7em;
    right: 2.7em;
}

dialog span {
    display: inline-block;
    width: 10px;
}



