h2 {
    color: #333;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    padding: 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.footer {
    margin-top: 20px;
    background-color: #333;
    padding: 10px;
    color: #fff;
}

.footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}


.admin-card{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    height: 300px;
    padding: 20px 40px 20px 40px;
}

.file-input {
    display: none;
  }

.file-unput:hover{
    cursor: pointer;
}

button{
    width: 150px;
}

.add-file-input{
    display: flex;
    justify-content: space-around;
}

.generate-button{
    margin: auto;
    margin-top: 0px;
    margin-bottom: 10px;
}


input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}





.grades,
.grades-term {
    display: inline-block;

}

td.inner-cell {
    margin: 0 2em;
}

.flex-main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}




.flex-item-1 {
    flex: 1;
}

.flex-item-2 {
    flex: 1;
}


.inline {
    display: inline;
}


.grades-row .subjects .subject p {
    display: block;
    position: relative;
    right: 1em;
}



.grades-row .subjects .subject-marks {
    position: relative;
    left: 14em;
    bottom: 2.3em;
}


.grades-table,
.terms-table {
    width: 100%;
}



.grades-table .first-term,
.grades-table .second-term {
    border-spacing: 1em;
}


.term-grades-subject {
    margin: 3em 0;
}



.term-grade {
    padding: 0.2em;
}

.subject-marks {
    position: relative;
    left: 5em;
}

.subjects {
    padding-top: 1em;
}



.inner-cell-second {
    display: block;
    position: relative;
    left: 15em;
}



.poor {
    background: red;
}


.middle {
    background: orange;
}

.good {
    background: yellow;
}

.very-good {
    background: lightblue;
}

.excellent {
    background: lightgreen;
}

.term-final {
    display: block;
    position: relative;
}



.final-grade .term-grade {
    position: relative;
    right: 1em;
    top: 2em;
}

.second-term {
    display: block;
    position: relative;
    right: 2em;
}


.term-data {
    border: none;
}


.term {
    position: relative;
    right: 3em;
}


.main-table {
    position: relative;
}

.first-term, .second-term {
    margin-bottom: 0.4em;
   
} 


.term-grades-subject td {
    padding: 0.2em;
}
 



