<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>



    <table class="main-table">


        <thead>

            <tr>
                <th>
                    Предмет
                </th>


                <table class="terms-table">


                    <thead>

                        <tr class="flex-main-container">

                            <th class="flex-item-1">
                                <p class="term">Първи срок</p>

                                <table class="first-term">


                                    <tr>



                                        <td class="inner-cell-first">Текущи</td>

                                        <td class="inner-cell-second">Срочна</td>


                                    </tr>

                                </table>
                            </th>



                            <th class="flex-item-2">

                                <p class="term">Втори срок</p>

                                <table class="first-term">


                                    <tr>


                                        <td class="inner-cell-first">Текущи</td>

                                        <td class="inner-cell-second">Срочна</td>


                                    </tr>

                                </table>

                            </th>


                            <th class="flex-item-3">

                                <p class="term">Годишна</p>

                            </th>

                        </tr>



                    </thead>


                    <tbody>

                    </tbody>

                </table>

            </tr>


        </thead>



        <tbody class="grades-row">

            <tr>
                <th class="subjects">
                    <p>Математика</p>
                    <p>Mузика</p>
                    <p>ИТ</p>
                    <p>ИТ</p>
                    <p>ИТ</p>
                    <p>ИТ</p>
                </th>


                <table class="grades-table">

                    <thead class="flex-header">

                        <tr class="flex-main-container">


                            <th class="flex-item-1 flex-grades">
                                <p class="term"></p>

                                <table class="first-term">


                                    <tr class="term-grades-subject">



                                        <span class="term-grade poor">2</span>
                                        <span class="term-grade good">4</span>
                                        <span class="term-grade very-good">5</span>
                                        <span class="term-grade excellent">6</span>


                                    </tr>
                                    <tr class="term-grades-subject">


                                        <span class="term-grade poor">2</span>
                                        <span class="term-grade good">4</span>
                                        <span class="term-grade very-good">5</span>
                                        <span class="term-grade excellent">6</span>


                                    </tr>
                                    <tr class="term-grades-subject">


                                        <span class="term-grade poor">2</span>
                                        <span class="term-grade good">4</span>
                                        <span class="term-grade very-good">5</span>
                                        <span class="term-grade excellent">6</span>


                                    </tr>

                                </table>
                            </th>


                            <th class="flex-item-2 flex-grades">

                                <p class="term"></p>

                                <div class="second-term">



                                    <div class="column-first">

                                        <table class="grades">

                                            <thead>

                                            </thead>

                                            <tbody>

                                                <tr>



                                                </tr>
                                            </tbody>

                                        </table>

                                    </div>


                                    <div class="column">

                                        <table class="grades-term">



                                        </table>

                                    </div>

                                </div>
                            </th>


                        </tr>



                    </thead>


                    <tbody>

                    </tbody>

                </table>

            </tr>


        </tbody>












        <div class="container">
            <h1>Въвеждане на оценки</h1>
            <form id="grade-form">
                <label for="student">Име на ученика:</label>
                <select id="student" name="student" required>
                    <option value="ученик1">Ученик 1</option>
                    <option value="ученик2">Ученик 2</option>
                </select><br><br>
                <label for="subject">Учебен предмет:</label>
                <input type="text" id="subject" name="subject" required><br><br>
                <label for="grade">Оценка:</label>
                <select id="grade" name="grade" required>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select><br><br>
                <button type="submit" class="grade-button">Запази оценка</button>
            </form>
        </div>


        <script src="grades.js"></script>


        
    </table>
</body>

</html>