<mat-card class="post-card" id = "{{id}}">

    <mat-card-header class="card-header">
        <mat-card-title class="card-header-title">{{title}}</mat-card-title>
        <mat-card-subtitle class="post-subtitle">{{subtitle}}</mat-card-subtitle>

    </mat-card-header>

    <mat-card-content class="card-content">

        <div class="main">

            <mat-card-actions class="buttons">

                <div class="admin-buttons"
                    *ngIf="getUserType() == 'Admin' || getUserType() == 'Teacher' || getUserType() == 'Grade teacher'">
                    <!-- <a href="#"  class="editBtn">Редактирай</a> -->
                    <a href="#"  id = "{{id}}" (click) = "deletePost($event)" class="deleteBtn">Изтрий</a>
                </div>

                <a href="#" class="openBtn" id="{{id}}" routerLink="/forum/{{id}}" (click)="openPost($event)">Отвори</a>

                <div class="icon">
                    <svg (click) = "likePost($event)" class="like-icon" xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24" fill="none">
                        <path
                            d="M8 10V20M8 10L4 9.99998V20L8 20M8 10L13.1956 3.93847C13.6886 3.3633 14.4642 3.11604 15.1992 3.29977L15.2467 3.31166C16.5885 3.64711 17.1929 5.21057 16.4258 6.36135L14 9.99998H18.5604C19.8225 9.99998 20.7691 11.1546 20.5216 12.3922L19.3216 18.3922C19.1346 19.3271 18.3138 20 17.3604 20L8 20"
                            stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                    <p  id = "{{id}}" class="likes-count">{{likesCount}}</p>
                </div>

            </mat-card-actions>



        </div>

        <div class="media">
            <img src="{{image}}" class="card-image" mat-card-sm-image>
        </div>
    </mat-card-content>

</mat-card>